.head1 {
	width: 1000px;
	height: 110px;
	background-color: 3B5888;
	margin: 0 auto;
}
.title1 {
	color: #c3cddf;
	text-align: center;
	font-size: 28px;
	font-family:"楷体","楷体_GB2312";
}
.head1 .img1{
	width: 713px;
	float: left;
}
.head1 .img2{
	width: 280px;
	float: left;
	margin-left: 5px;
}

.navi1 {
	float: right;
}

.navi1 li{
	list-style-type: none;
	float: left;
	color: #c3cddf;
	font-size: 12px;
	height: 33px;
	width: 55px;
	line-height: 33px;
	text-align: center;
}